<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title><%= html_title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="description" content="<%= "hi" %>" />
<meta name="keywords" content="issue,bug,tracker" />
 <div id="content">
        <% #= render_flash_messages %>
        <%= yield %>
        <% #= call_hook :view_layouts_base_content %>
        <div style="clear:both;"></div>
    </div>


</body>
</html>
